# Git Ignore

# DB Local
db/
*.sqlite3

# Archivos de entorno
.env
# Claves privadas
*.key
*.pem

# Archivos estaticos generados
staticfiles/
media/

# Entorno virtual de Python
.venv/
env/
venv/
.enviroment/
__pycache__/

# Archivo para que el plugin de VSCode detecte y autocomplete tailwind
tailwind.config.js