{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}Registrarse - GameStore{% endblock %}

{% block contenido %}
<div class="bg-gamestore-dark rounded-lg shadow-md p-6 max-w-md mx-auto border border-slate-800/50">
    <h1 class="text-3xl font-bold mb-6 text-center text-white uppercase">Crear una Cuenta</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="mb-4 p-3 rounded-lg bg-red-500/10 border border-red-500/20 text-red-400 text-sm flex items-start gap-2">
                <i data-lucide="alert-triangle" class="w-4 h-4 mt-0.5 flex-shrink-0"></i>
                <div>
                    {% for error in form.non_field_errors %}
                        <p class="font-medium">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="space-y-4">
            {% for field in form %}
                <div class="flex flex-col gap-1.5">
                    <label for="{{field.id_for_label}}" class="text-xs font-gamestore-muted uppercase tracking-wider font-semibold">{{ field.label }}</label>
                    {% if field.field.widget.input_type == 'file' %}
                        {% render_field field class="w-full text-gray-100 file:hover:cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:text-gamestore-dark file:bg-gray-200 hover:file:bg-gamestore-electric/40 hover:file:text-white file:transition-colors file:duration-200" %}
                    {% elif field.html_name == 'fecha_nacimiento' %}
                        {% render_field field class="w-full border border-gamestore-muted/20 p-2 rounded shadow-sm bg-gamestore-secondary text-white focus:outline-none focus:ring-2 focus:ring-gamestore-electric" WIDGET_ERROR_CLASS="border-red-500 bg-red-500/5 focus:border-red-500" %}
                    {% else %}
                        {% render_field field class="w-full border border-gamestore-muted/20 p-2 rounded shadow-sm bg-gamestore-secondary text-white focus:outline-none focus:ring-2 focus:ring-gamestore-electric" WIDGET_ERROR_CLASS="border-red-500 bg-red-500/5 focus:border-red-500" %}
                    {% endif %}

                    {% if field.help_text %}
                        <div class="mt-1 text-xs text-zinc-200 [&>ul]:list-disc [&>ul]:pl-5 [&>ul]:space-y-1.5 leading-relaxed">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}
                    
                    {% if field.errors %}
                        <p class="text-xs text-red-400 flex items-center gap-1 font-medium mt-0.5">
                            {{ field.errors.as_text }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="w-full bg-gamestore-electric hover:bg-gamestore-electric/50 text-white font-bold py-2.5 rounded-lg mt-6 transition shadow-sm shadow-gamestore-electric/5 hover:shadow-gamestore-electric/20">
            Registrar Cuenta
        </button>
    </form>
    
    <p class="text-sm text-gray-100 text-center mt-4">
        ¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-gamestore-electric hover:underline font-semibold">Inicia sesión acá</a>
    </p>
</div>
{% endblock %}
