{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}Cargar Videojuego - GameStore{% endblock %}

{% block contenido %}
<div class="bg-gamestore-dark rounded-lg shadow-md p-6 max-w-lg mx-auto border border-slate-800/50">
    <h1 class="text-3xl font-bold mb-6 text-center text-white uppercase">Cargar Nuevo Videojuego</h1>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="mb-4 p-3 rounded-lg bg-red-500/10 border border-red-500/20 text-red-400 text-sm flex items-start gap-2">
                <i data-lucide="alert-triangle" class="w-4 h-4 mt-0.5 flex-shrink-0"></i>
                <div>
                    {% for error in form.non_field_errors %}
                        <p class="font-medium">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="space-y-4">
            {% for field in form %}
                <div class="flex flex-col gap-1.5">
                    <label for="{{field.id_for_label}}" class="text-xs font-gamestore-muted uppercase tracking-wider font-semibold">
                        {{ field.label }}
                    </label>
                    {% if field.html_name == 'categorias' %}
                        <div class="w-full flex bg-transparent text-gray-100 [&>div]:flex-1 [&>div]:grid [&>div]:grid-cols-1 [&>div]:md:grid-cols-3">
                            {{ field }}
                        </div>
                    {% elif field|widget_type == 'fileinput' or field|widget_type == 'clearablefileinput' %}
                        {% render_field field class="w-full text-gray-100 file:hover:cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:text-gamestore-dark file:bg-gray-200 hover:file:bg-gamestore-electric/40 hover:file:text-white file:transition-colors file:duration-200" %}
                    {% else %}
                        {% render_field field class="w-full border border-gamestore-muted/20 p-2 rounded shadow-sm bg-gamestore-secondary text-white focus:outline-none focus:ring-2 focus:ring-gamestore-electric" WIDGET_ERROR_CLASS="border-red-500 bg-red-500/5 focus:border-red-500" %}
                    {% endif %}
                    
                    {% if field.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ field.errors.as_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="w-full bg-gamestore-electric hover:bg-gamestore-electric/50 text-white font-semibold py-2.5 rounded-lg mt-6 transition shadow-sm ">
            Guardar Videojuego
        </button>
    </form>
</div>
{% endblock %}
